.pimcore-navigation .navigation--entry ul {
  list-style: none;
  margin: 0px 0px 0px 25px;
  display: block !important;

  li {
    &.is--active > a {
      color: @brand-primary;
      font-weight: bold;
      padding: 0px;
    }
    margin: 0px 0px 5px 0px;
    a {
      color: @brand-secondary;
    }
    padding: 0px;
  }
}
.pimcore-navigation .navigation--entry {

    &.is--active.active > a {
      color: @brand-primary;
      font-weight: bold;
      padding: 0px;
    }
}
.pimcore-navigation .is--active {
  &.navigation--entry a.navigation--link {
    color: @brand-primary;
    font-weight: bold;
  }
}

@media screen and (max-width: @phoneLandscapeViewportWidth) {
  .off-canvas .pimcore-navigation .sidebar--navigation .navigation--link, .off-canvas .pimcore-navigation .sidebar--navigation .navigation--entry {
    padding: 0px;
    a {
      padding: 2px 10px;
    }
  }
}

.is--ctl-pimcore {
  .content-main,
  .content-main--inner {
    position: relative;
  }
}

.search--content .js--tab-menu .tab--navigation {
  display: block;
}
.search--content .js--tab-menu .tab--container-list .tab--container {
  padding: 15px;
}

.is--ctl-pimcore.is--ctl-custom .sidebar-main .sidebar--categories-navigation {
   display: block !important;
}

.is--ctl-pimcore.is--ctl-custom .sidebar-main .shop-sites--container {
  display: none;
}

.is--ctl-pimcore.is--ctl-custom .sidebar-main .shop-sites--container.content--navi {
  display: block;
}

.is--ctl-pimcore .custom-page--content {
  margin-top: 8px;
}

.is--ctl-pimcore .custom-page--content .blog--listing.block h1 {
  margin-top: 0px;
}

.is--ctl-pimcore .custom-page--content .blog--listing {
  margin-top: 4px;
}